.App {
  padding-top: 25px;
}

.App, .App .ui {
  font-family: 'Nunito Sans', Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.App .Header {
  display: flex;
}

.App .Header-link {
  align-self: center;
}

.App .Header .Logo {
  font-family: Montserrat, Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 700;
}

.App .Header .Logo img {
  width: 1.5em;
}

.App .Header .Logo .subtitle {
  font-weight: 200;
  font-size: 0.8em;
  margin-left: 1em;
  display: inline-block;
}

.App .Header .Install {
  align-self: center;
  margin-left: 2em;
}

.App .Header .market-selector {
  align-self: center;
  margin-left: auto;
}

.App .Footer {
  display: flex;
}

.App .Footer a img {
  opacity: 0.5;
}

.App .Footer a:hover img, .App .Footer a:active img {
  opacity: 1;
}

.App .Footer .Discord {
  margin-left: auto;
  align-self: center;
  padding-left: 2em;
}

.App .Footer .Support {
  align-self: center;
  padding-left: 2em;
}

.App .Footer .Subscribe {
  align-self: center;
  padding-left: 2em;
}
