.App {
  padding-top: 25px;
}

.App .horizontal-scrolling {
  overflow: auto;
}

.App, .App .ui {
  font-family: 'Nunito Sans', Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.App .Header {
  display: flex;
}

.App .Header .Header-link {
  align-self: center;
}

.App .Header .Logo {
  font-family: Montserrat, Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 700;
}

.App .Header .Logo-medium {
  font-family: Montserrat, Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 700;
}

.App .Header .Logo-medium .content {
  font-size: 0.9em;
}

.App .Header .Logo img {
  width: 1.5em;
}

.App .Header .Logo .subtitle {
  font-weight: 200;
  font-size: 0.8em;
  margin-left: 1em;
  display: inline-block;
}

.App .Header .Install {
  align-self: center;
  margin-left: 2em;
  background-image: url(/arrow-left.svg);
  background-repeat: no-repeat;
  background-position: 60% 63%;
  background-size: 60%;
}

.App .Header .Install.large,
.App .Header .Install.marge,
.App .Header .Install.medium {
  padding-top: 3em;
  margin-top: -3em;
}

.App .Header .Install .sub-text {
  display: inline-block;
  position: relative;
  font-family: 'Permanent Marker', 'Nunito Sans', Lato, 'Helvetica Neue', cursive;
  font-size: 1.3em;
  top: -0.7em;
  left: 1.2em;
}

.App .Header .Install.marge .sub-text,
.App .Header .Install.medium .sub-text {
  font-size: 1em;
}


.App .Header .Install.small {
  align-self: center;
  margin-left: 0.5em;
  background: none;
}

.App .Header .Install a:hover .button {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  position: relative;
  top: -1px;
}

.App .Header .market-selector {
  align-self: center;
  margin-left: auto;
  font-size: 1.2em;
}

.App .Header .market-selector-medium {
  align-self: center;
  margin-left: auto;
  font-size: 1em;
}

.App .Footer {
  display: flex;
  padding-right: 0;
}

.App .Footer a img {
  opacity: 0.5;
}

.App .Footer a:hover img, .App .Footer a:active img {
  opacity: 1;
}

.App .Footer .links {
  margin-left: auto;
  align-self: center;
}

.App .Footer .links .link-item {
  margin-left: 2em;
}

.App .Footer .links .link-item-small {
  margin-left: 1em;
}

.App .Footer a {
  color: inherit;
  text-decoration: inherit;
}

.App .bid-sig-digits {
  color: green;
}

.App .ask-sig-digits {
  color: red;
}

.App .depth-sig-digits {
  color: black;
}

.App .non-sig-digits {
  color: gray;
}

.App .table-wrapper {
  display: flex;
  flex-direction: column;
}

.App .orders-table {
  max-width: 350px;
  align-self: center;
}

.ui.table tr td {
  border-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.App .hidden {
  visibility: hidden;
}


.ui.table.basic tbody tr .bid-ask-delim-border {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.App .order-mobile {
  font-size: .8em;
}
